body {
    background-color: #383e43;
}

h1 {
    position: absolute;
    left: 20px;
    top: 2px;
    color: rgb(250, 243, 243);
}

span {
    color:rgb(250, 243, 243);
}

p {
    color: rgb(250, 243, 243);
}

section > p {
    justify-content: center;
    box-shadow: 4px 6px 3px rgba(0,0,0,.5);
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #404a53;
}

nav a {
    font-size: 1.5em;
    color: rgb(250, 243, 243);
    margin: 20px;
}

#heroImage {
    overflow: hidden;
    height: 200px;
    display: flex;
}

#heroImage img {
    width: 100%;
}

#heroImage span {
    color: rgb(250, 243, 243);
    font-size: 50px;
    position: absolute;
    right: 110px;
    top: 180px;
}

.mainContent {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.mainContent > p {
    display: flex;
    font-size: 1.8em;
    align-items: center;
    min-width: 140px;
    padding: 60px;
    text-shadow: 1px 3px 1px black;
}

.contentLine {
    border-left: 6px solid rgb(37, 49, 68);
    max-height: 100%;
    margin: 0 10px;
}

.workImages {
    position: relative;
}

.mainImageText {
    position: absolute;
    color: white;
    font-size: 3em;
    margin: 10px;
    left: 10px;
}

.workImages .otherProject {
    width: 50%;
    height: 200px;
    overflow: hidden;
    flex: 1 0 300px;
}

.otherImageText {
    position: absolute;
    color: white;
    font-size: 3em;
    margin: 10px;
    left: 10px;
}

#aboutMeText {
    border: 1px solid white;
    margin: 1px;
}

#aboutMeText p {
    align-items: flex-start;
    font-size: 1.2em;
    padding: 5px;
}

#mainProject {
    overflow: hidden;
    margin: 0 0 10px;
    border: 1px solid white;
    margin: 1px;
}

#mainProject img {
    width: 100%;
    height: 400px;
}

#otherProjects {
    display: flex;
    flex-wrap: wrap;
}

#otherProjects img {
    width: 99.5%;
    height: 190px;
}

#otherProjectContainer1 {
    margin: 0 10px 0 0;
}

#otherProjectImage1 {
    justify-content: flex-start;
    border: 1px solid white;
    margin: 1px;
}

#otherProject2 {
    justify-content: flex-end;
    border: 1px solid white;
    margin: 1px;
}

#ContactMeText {
    font-size: 1.5em;
    color: rgb(250, 243, 243);
    width: 100%;
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width: 1000px) {
    .workImages .otherProject {
        width: 100%;
        flex: none;
    }

    #otherProjectContainer1 {
        margin: 0 0 10px 0;
    }
}