body {
    background-color: whitesmoke;
}
nav {
    display: flex;
    justify-content: flex-end;
    background-color: #5d5d5d;
}

nav a {
    font-size: 1.5em;
    color: rgb(247, 230, 230);
    margin: 20px;
}

#heroImage {
    overflow: hidden;
    height: 200px;
    display: flex;
}

#heroImage img {
    width: 100%;
}

.mainContent {
    display: flex;
    width: 100%;
}

.mainContent > p {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    min-width: 100px;
    padding: 60px;
}

.contentLine {
    border-left: 6px solid rgb(37, 49, 68);
    max-height: 100%;
    margin: 10px;
}

.workImages {
    position: relative;
}

.mainImageText {
    position: absolute;
    color: white;
    font-size: 3em;
    margin: 10px;
    left: 10px;
}

.workImages .otherProject {
    width: 50%;
}

.otherImageText {
    position: absolute;
    color: white;
    font-size: 3em;
    margin: 10px;
    left: 10px;
}

#aboutMeText p {
    align-items: flex-start;
    font-size: 1.2em;
}

#mainProject {
    overflow: hidden;
    margin: 0 0 10px;
}

#mainProject img {
    width: 100%;
    float: right;
}

#otherProjects {
    display: flex;
    flex-wrap: wrap;
}

#otherProjects img {
    max-width: 100%;
}

#otherProject1 {
    justify-content: flex-start;
}

#otherProject2 {
    justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
    .workImages .otherProject {
        width: 100%;
    }
}